################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeroGame/.vs/HeroGame/FileContentIndex/165b39ca-f637-4d48-8b21-659fc3cdb25e.vsidx
/HeroGame/.vs/HeroGame/FileContentIndex/39945d10-d6a6-4277-a0e8-ecd4eb358b3f.vsidx
/HeroGame/.vs/HeroGame/FileContentIndex
