################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeroGame/.vs/HeroGame/FileContentIndex/165b39ca-f637-4d48-8b21-659fc3cdb25e.vsidx
